#root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 300px;
    height: 300px;
    border: 10px solid #333;
    border-radius: 50%;
}

.hour {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 2%;
    border-radius: 50%;
}

.hour:after {
    content: " ";
    border-radius: 4px;
    position: relative;
    background: #333;
    display: block;
    width: 10px;
    height: 50%;
    left: 50%;
    transform: translateX(-5px);
}

.minute {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 10%;
    border-radius: 50%;
}

.minute:after {
    content: " ";
    border-radius: 4px;
    position: relative;
    background: white;
    display: block;
    width: 6px;
    border: 2px solid #333;
    height: 50%;
    left: 50%;
    transform: translateX(-5px);
}

.second {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: all .2s;
    transition-timing-function: ease-out;
}

.second:after {
    content: " ";
    border-radius: 4px;
    position: relative;
    background: #333;
    display: block;
    width: 4px;
    height: 50%;
    left: 50%;
    transform: translateX(-2px);
}